:root {
  /* colors */
  --color-white-1: rgb(255 255 255);
  --color-pink-1: rgb(255 54 93);
  --color-pink-2: rgb(255, 176, 178);
  --color-gray-1: rgb(52 58 64);
  --color-black-1: rgb(0 0 0);

  /* font-size */
  --font-size-12: 12px;
  --font-size-14: 14px;
  --font-size-16: 16px;
  --font-size-18: 18px;
  --font-size-24: 24px;
  --font-size-32: 32px;
  --font-size-36: 36px;

  /* font-family */
  --font-light: PretendardL, sans-serif;
  --font-medium: PretendardM, sans-serif;
  --font-semibold: PretendardSemiB, sans-serif;
  --font-bold: PretendardB, sans-serif;

  /* Spacing*/
  --spacing-1: 12px;
  --spacing-2: 16px;
  --spacing-3: 20px;
  --spacing-4: 24px;
}
